.button {
  border-radius: 15px;
  padding: 0.8em 5rem;
  border: 0px solid #333;
  background-color: var(--third-color);
  box-shadow: 5px 5px 0px 0.5px black;
  width: 300px;
  margin: 2rem;
  font-size: 1rem;
}

.button:hover {
  background: var(--primary-color);
  box-shadow: none;
  color: white;
}
