.header {
  height: 64px;

  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.header > img {
  height: 50px;
}

.header > h1 {
  font-family: var(--primary-headline);
  font-size: 3rem;
}
