.header {
  height: 64px;
  /* 
  display: flex; */
  justify-content: center;
  margin-top: 50px;
  grid-column: 1 / 4;
}

.header > h1 {
  font-family: var(--primary-headline);
  font-size: 3rem;
}
