@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(138, 4, 131);
  --secondary-color: rgb(0, 205, 241);
  --third-color: rgb(255, 230, 0);
  --bg-primary: rgb(48, 118, 209);
  --primary-headline: "Press Start 2P";
  --regular-font: "Poppins";
}

html {
  font-size: 16px;
  font-family: var(--regular-font);
}

body {
  margin: 0;
  background-image: url("https://images.pexels.com/photos/3951375/pexels-photo-3951375.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.bg-primary {
  background: var(--bg-primary);
}

.container {
  text-align: center;
  height: 100vh;
  /* font-family: "Poppins", sans-serif; */
}
.headline {
  justify-content: center;
  margin-top: 50px;
  font-family: var(--primary-headline);
  font-size: 3rem;
}
